<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="">
      <label for="nome">Nome</label>
        <input type="text" id="nomeProduto" />
      <label for="cicloCultivo">Ciclo Cultivo</label>
        <input type="number" id="ciclo" />
      <label for="peso">Peso grão</label>
        <input type="number" id="pesoGrao" />

        <button id="button">cadastrar</button>
    </form>

    <script src="../index.ts"></script>
  </body>
</html>
